<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User is deleted</title>
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
     <h2>User is deleted........!</h2>
  </div>

</body>
</html>
